/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #5061ab;
  background-color: #ffdf60;
  font-family:serif;
}
  
h1 {color:rgb(3, 3, 159);
  letter-spacing: 1.5px;
  word-spacing: 5px;
  font-size: 300%;
}

h1, h2, h3 { font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {border-radius: 50%;}

  